$primary-color: rgb(109, 146, 134);
$header-color: white; 
$card-color: white; 
$sidebar-color: white; 
$footer-color: white; 
$hero-color: white;
$background-color: rgb(203, 138, 179);


$text-color: rgb(8, 8, 8);
$text-size: 14px;
$text-weight: bold;
$font-style: 'Courier New', sans-serif;
$logo-font: 'Courier New', sans-serif;
$logo-text-size: 35px;
$line-height: 1.5; 
$font-weight-1: bold;

$max-width: 1200px;


